.env
/node_modules
/public/hot
/public/storage
/public/attachments
/public/uploads
/public/downloads
/public/client_files
/public/moduledir
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
/smarty
/.scribe
.well-known
/public/themes
.htaccess
/resources/views/scribe/index.blade.php
error_log
public/error_log
cron.log
modules_statuses.json
.DS_Store
